---
import { getCollection } from 'astro:content'
import ProjectCard from '../components/ProjectCard.astro'
import Layout from '../layouts/Layout.astro'

const projects = (await getCollection('projects'))
  .sort((a, b) => b.data.pubDate.localeCompare(a.data.pubDate))
  .slice(0, 3)
---

<Layout title='Welcome to Astro.'>
  <main>
    <div class='py-6'>
      <h4 class='text-xl'>Hello 👋</h4>
      <h1 class='text-4xl font-bold py-4'>I'm Gurjit Sangha</h1>
      <h2 class='text-2xl font-semibold pb-2'>Software Developer</h2>
      <p>
        Welcome to my website, congratulations on making it here! You can find
        out about me and my work, and also get in contact with me
      </p>
    </div>
    <a
      class='btn btn-primary'
      href='https://www.linkedin.com/in/gurjitsangha'
      target='_blank'>Let's connect</a
    >

    <div class='pt-6 pb-4'>
      <h2 class='text-2xl font-semibold'>My latest work</h2>
    </div>
    <div class='flex flex-col md:flex-row gap-6'>
      {
        projects.map((project) => (
          <>
            <ProjectCard
              title={project.data.title}
              description={project.data.description}
              slug={project.slug}
              heroImage={project.data.heroImage}
            />
            <div class='divider' />
          </>
        ))
      }
    </div>
  </main>
</Layout>
